#ABSOLUTE path for your music library
LIBRARYPATH = ""

#OPTIONAL/Needed for explicit songs; Profile name of Firefox Profile that will be used (check README for more info)
FIREFOX_PROFILE_PATH = 

#VERY RECOMMENDED; Input 'False' if you want to disable the usage of beets for your library management; Note: This project has been developed with beets usage in mind, not using it will be janky.
USE_BEETS = True